art==5.4
bokeh==2.4.2
Jinja2==3.0.3
MarkupSafe==2.1.0
names==0.3.0
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
PyYAML==6.0
simple-term-menu==1.4.1
tornado==6.1
typing-extensions==4.1.1
